<a href="https://colab.research.google.com/github/Lis30/Homeworks/blob/main/%D0%B4%D0%BE%D0%BC%D0%B0%D1%88%D0%BA%D0%B0_1_%D0%9A%D0%B0%D1%80%D0%BF%D0%BE%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Начнём с простого - сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь
имя в виде строки

In [ ]:
name = 'Sergey'
age = 40

2) Создайте список user_info, содержащий 2 строки (имя и фамилия пользователя), 1 дробное число (зарплата) и 1 целое число (стаж)

In [ ]:
user_info = ['Sergey', 'Ivanov', 50000.5, 1]
user_info

['Sergey', 'Ivanov', 50000.5, 1]

3) Поместите в переменную first первый (то есть нулевой) элемент из списка salaries

In [ ]:
first = user_info[0]
first

'Sergey'


4) Добавьте в список users элементы 'Voronov' и 42

In [ ]:
users = ['Voronov', 42]


5) В переменной user_ages содержится список возрастов клиентов. Напишите петлю, выводящую на печать возраста, которые больше 18<br>
Пример данных, которые могут быть в user_ages<br>
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]<br>
Note: в этом задании нужно печатать эти числа

In [ ]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

for i in user_ages:
    if i>=18:
        print(i)

18
21
35
42
27


6) Напишите программу, проверяющую стаж работы сотрудника. В переменной worker содержится список, содержащий значения как во 2-ом задании (имя, фамилия, зарплата, стаж). Поместите в переменную status такую строку<br>

user_name user_family is position<br>

где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк<br>

'junior' - стаж меньше 2 лет<br>
'middle' - стаж больше либо равен 2 лет<br>
'senior' - стаж больше 5 лет <br>
Пример данных, которые могут быть в worker<br>
<br>
worker = ['Olya', 'Silyutina', 350000, 3]<br>
Hint: печатать результат не нужно, просто задайте его в переменную status

In [ ]:
for worker in workers:
    if worker[3]<2:
        position = 'junior'
    elif worker[3]<=5 and worker[3]>=2:
        position = 'middle'
    else:
        position = 'senior'
    print(f'{worker[0]} {worker[1]} is {position}')

7) В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело<br>
Пример данных, которые могут быть в values<br>
values = [12, 134, 10, 47, 100, 20, 50, 160, 210

In [ ]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens = []

for i in values:
    if i%10==0:
        tens.append(i)
print(tens)

[10, 100, 20, 50, 160, 210]

8) ⭐️Задание со звёздочкой!⭐️<br>
Реализуйте цикл, который пробегается по списку workers со значениями как в 2-ом и 6-ом заданиях, и выводит для каждого сотрудника<br>
строку (то есть печатает её для каждого элемента списка)<br>
user_name user_family is position<br>
где user_name и user_family - имя и фамилия сотрудника, а position - одна из следующих строк<br>
'junior' - стаж меньше 2 лет<br>
'middle' - стаж больше либо равен 2 лет<br>
'senior' - стаж больше 5 лет <br>
Пример данных, которые могут быть в workers<br>
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]<br>
Note: в этом задании нужно печатать эти строки

In [ ]:
workers = [['Ivan', 'Ivanov', 100000, 1], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 5.5]]

for worker in workers:
    if worker[3]<2:
        position = 'junior'
    elif worker[3]<=5 and worker[3]>=2:
        position = 'middle'
    else:
        position = 'senior'
    print(f'{worker[0]} {worker[1]} is {position}')

Ivan Ivanov is junior
Petr Petrov is middle
Sidor Sidorov is senior